
body {
    background-color: #EFF2F1;
    align-items: center;
    justify-content: center;
    height: 100vh;
	display: flex;
	flex-direction: column;
}

.container, .url_container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	width: 768px;
	max-width: 100%;
	min-height: 480px;
	justify-content: center;
	align-items: center;
}

.url_container {
	width: 768px;
	max-width: 100%;
	min-height: 40px;
}

.url {
    height: 30px;
    width: 90%;
    border-radius: 10px;
}

.url_tags {
    padding: 20px;
}

.tags {
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: bold;
	padding-top: 8px;
	padding-bottom: 8px;
    text-align: left;
}

.inner_div {
    display: flex;
    flex-direction: column;
}

.input_text {
    height: 30px;
    width: 400px;
    border-radius: 10px;
    /* background-color: #a76882; */
}

#submit_btn {
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: #036af0;
}

#submit_btn:hover {
    background-color: teal;
}

#msg {
    position: relative;
    display: none;
    background: #e4dfdf;
    color: rgb(226, 100, 100);
    padding: 25px;
    margin: 10px;
}