#prod_image {
    width: 400px; 
    height: 270px
}

#lap_detial {
    display: grid;
    grid-template-columns: 120px 300px;
    grid-gap: 5px;
    max-width: 400px;;
}

.label {
    padding-top: 7px;
}

.item {
    border: rgb(72, 107, 219) solid 2px;
    margin: 3px;
    padding: 2px;
    background-color: lightgray;
    color: black;
    width: 300px;
}